/* 顏色 */
:root{
    --primary-400: #57A203; /* 主色 */
    --secondary-color: #F5FEE7; /* 次色 */
    --text-color: #000000; /* 文字顏色 */
    --background-color: #ffffff; /* 背景顏色 */
    --footer-background-color: lightgray; /* 頁腳背景顏色 */

    --100-color: #f8f9fa;
    --300-color: #dee2e6;
    --600-color: #6c657d;
    --900-color: #212529;  /* 主色100% */
}